@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 9vh;
    background-color: black;
    font-family: "Baloo Bhaijaan 2", serif;
}

header nav {
    display: inline-block;
}

.logo {
    display: inline-block;
    margin-left: -1060px;
    margin-top: 5px;
    color: white;
    font-family: "Baloo Bhaijaan 2", serif;
}

img {
    height: 40px;
    width: 50px;
    display: inline-block;
}

header ul {
    display: inline-block;
    margin-left: 230px;
    margin-top: 24px;
}

header ul li {
    display: inline-block;
    padding-left: 20px;
}

.login {
    display: inline-block;
    margin-left: 400px;
    padding-right: 15px;
    color: white;
}

.register {
    display: inline-block;
    margin-right: 83px;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
    /* margin-top: 50px; */
}

.container1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "Baloo Bhaijaan 2", serif;
}

.container h1 {
    margin-left: -374px;
    margin-top: 20px;
    margin-bottom: 21px;

}

.container1 p {
    margin-top: 50px;
    margin-left: -285px;
}

.Talentpics {
    display: grid;
    grid-template-columns: 307px 307px 307px 307px;
    animation: sport  3s linear 1s infinite running;
}

@keyframes sport{
    0% {
        transform: translate(1230px);
    }
    100% {
        transform: translate(-1220px);
    }

}

.Talentpics {
    animation: sport 11s linear  infinite;
}

.cricket {
    margin-top: 20px;
    width: 307px;
    height: 100px;
}


.baseball {
    margin-top: 20px;
    width: 307px;
    height: 100px;
}

.football {
    margin-top: 20px;
    width: 307px;
    height: 100px;
}

.cycling {
    margin-top: 20px;
    width: 405px;
    height: 100px;
}

.searchbar {
    overflow: hidden;
}

.searchlogo {
    margin-inline-start: -650px;
    border-radius: 118px;
    padding-right: 200px;
    margin-bottom: -14px;

}

.sport {
    margin-top: -1px;
    display: flex;
    height: 74px;
    width: 74px;
    margin-left: 700px;
    margin-top: -79px;
    margin-top: -90px;
    margin-bottom: 90px;
    border-radius: 14px;
}

.search {
    font-family: "Baloo Bhaijaan 2", serif;
    height: 35px;
    margin-top: 40px;
    margin-left: 300px;
    border-radius: 30px;
    padding-right: 455px;
    padding-left: 67px;
    padding-top: 6px;
}

.select {
    margin-inline-start: -330px;
    padding-right: 10px;

}

.experience {
    border-radius: 30px;
    padding-top: 4px;
    padding-left: 30px;
}

.btn:hover {
    cursor: pointer;

}

.box {
    display: flex;
    background-color: rgb(202, 53, 53);
    border: 1px solid red;
    height: 15vh;
    margin-right: 250px;
    margin-left: 285px;
    margin-top: 70px;
    padding-top: 40px;
    border-radius: 28px;
    padding-left: 15px;
    font-family: "Baloo Bhaijaan 2", serif;
}

.box pre {
    line-height: 24px;
    font-size: 17px;
}

.btn {
    display: flex;
    margin-top: -32px;
    border-radius: 10px;
    height: 30px;
    margin-left: 320px;
    font-family: "Baloo Bhaijaan 2", serif;
}
.btn:hover{
    background-color: black;
    color: white;
}

.box p {}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 110px;
}